---
// import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
// import Header2 from "../components/Header2.astro";
import SubLayout from "../layouts/SubLayout.astro";
// import WIP from "../components/WIP.astro";
---

<SubLayout title="Unser Impressum - Revinova">
  <Navbar />
  <main class="mt-[145px]">
	<h1 class="text-3xl lg:text-6xl">Unser Impressum</h1>
    <div class="impressum">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <dl class="impressum-liste">
          <dt>Vollständiger Firmenname</dt>
          <dd>Revinova GmbH</dd>
          <dt>Adresse</dt>
          <dd>Kruppstraße 196</dd>
          <dt>Stadt</dt>
          <dd>Mülheim an der Ruhr</dd>
          <dt>PLZ</dt>
          <dd>45472</dd>
          <dt>Land</dt>
          <dd>Deutschland</dd>
          <dt>E-Mail</dt>
          <dd>
			<a title="Kontaktieren Sie uns per E-Mail!" href="mailto:&#105;&#110;&#102;&#111;&#64;&#114;&#101;&#118;&#105;&#110;&#111;&#118;&#97;&#46;&#100;&#101;">info@revinova.de</a>
          </dd>
          <dt>Telefonnummer</dt>
          <dd>
			0208 7789 0030
          </dd>
        </dl>
        <dl class="impressum-liste">
          <dt>Rechtsform</dt>
          <dd>GmbH</dd>
          <dt>Umsatzsteuer ID</dt>
          <dd>DE 363 886 796</dd>
          <dt>Registerort</dt>
          <dd>Amtsgericht Duisburg</dd>
          <dt>Registernummer</dt>
          <dd>HRB 37167</dd>
          <dt>Zuständige Aufsichtsbehörde</dt>
          <dd>Handwerkskammer Düsseldorf</dd>
          <dt>Geschäftsführung</dt>
          <dd>Benjamin Rechenbach, Lukas Vincenz</dd>
        </dl>
      </div>
    </div>
  </main>
</SubLayout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 2rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  dl.impressum-liste {
    overflow: hidden; /* Ersatz für @include pie-clearfix */
  }

  dl.impressum-liste dt,
  dl.impressum-liste dd {
    display: block;
    padding: 15px;
  }

  dl.impressum-liste dt {
    padding-bottom: 0;
    font-weight: bold;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

dl.impressum-liste dd {
	padding-top: 0;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
  }

  dl.impressum-liste dd + dt {
    margin-top: 10px;
  }

  dl.impressum-liste dd + dd {
    margin-top: -15px;
  }

  dl.float-list {
    overflow: hidden; /* Ersatz für @include pie-clearfix */
  }

  dl.float-list dt,
  dl.float-list dd {
    display: block;
    vertical-align: top;
    float: left;
  }

  dl.float-list dt {
    padding-right: 0.5rem;
    width: 40%;
    clear: left;
  }

  dl.float-list dd {
    width: 60%;
  }
  dl .phone {
    text-decoration: none !important;
  }

  .impressum .row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
</style>
