---
import {Image} from "astro:assets";
import Ct1Logo from "../images/ct-1.webp";
---

<div class="relative isolate overflow-hidden bg-white lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
    </div>
    <div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:grid-cols-2 lg:gap-x-8">
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-normal text-stone-700">Bauen. Wohnen. Renovieren.</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Ihr Partner rund ums Handwerk.</h1>
            <p class="mt-6 text-base leading-8 text-gray-900">Revinova GmbH, Ihr Partner für qualitativ hochwertige Handwerksleistungen. Unsere Expertise und Sorgfalt setzen wir ein, um Ihre Wohnträume Wirklichkeit werden zu lassen. Ob Neubau, Umbau oder Renovierung, wir bieten Ihnen maßgeschneiderte Lösungen.</p>
          </div>
        </div>
      </div>
      <div class="-ml-12 -mt-12 px-12 pt-8 lg:sticky lg:top-24 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <!-- <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png" alt=""> -->
        <Image src={Ct1Logo} class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl sm:w-[57rem]" alt="" />
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:grid-cols-2 lg:gap-x-8">
        <div class="lg:pr-4">
          <div class="text-base leading-7 text-gray-900 lg:max-w-lg">
            <p>Wir setzen auf Qualität und Zuverlässigkeit. Unsere Handwerker sind erfahren und engagiert, um Ihnen den besten Service zu bieten. Von der Planung bis zur Fertigstellung sind wir an Ihrer Seite und sorgen dafür, dass Ihr Projekt termingerecht und professionell abgeschlossen wird.</p>
            <ul role="list" class="mt-8 space-y-8 text-gray-900">
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M78.6 5C69.1-2.4 55.6-1.5 47 7L7 47c-8.5 8.5-9.4 22-2.1 31.6l80 104c4.5 5.9 11.6 9.4 19 9.4h54.1l109 109c-14.7 29-10 65.4 14.3 89.6l112 112c12.5 12.5 32.8 12.5 45.3 0l64-64c12.5-12.5 12.5-32.8 0-45.3l-112-112c-24.2-24.2-60.6-29-89.6-14.3l-109-109V104c0-7.5-3.5-14.5-9.4-19L78.6 5zM19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L233.7 374.3c-7.8-20.9-9-43.6-3.6-65.1l-61.7-61.7L19.9 396.1zM512 144c0-10.5-1.1-20.7-3.2-30.5c-2.4-11.2-16.1-14.1-24.2-6l-63.9 63.9c-3 3-7.1 4.7-11.3 4.7H352c-8.8 0-16-7.2-16-16V102.6c0-4.2 1.7-8.3 4.7-11.3l63.9-63.9c8.1-8.1 5.2-21.8-6-24.2C388.7 1.1 378.5 0 368 0C288.5 0 224 64.5 224 144l0 .8 85.3 85.3c36-9.1 75.8 .5 104 28.7L429 274.5c49-23 83-72.8 83-130.5zM56 432a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg>
                <span><strong class="font-semibold text-gray-900">Beste Arbeit.</strong> Vertrauen Sie auf unsere langjährige Erfahrung und unser Fachwissen. Wir verwenden nur die besten Materialien und modernste Techniken, um sicherzustellen, dass Ihr Zuhause den höchsten Standards entspricht.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M48.1 240c-.1 2.7-.1 5.3-.1 8v16c0 2.7 0 5.3 .1 8H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H60.3C89.9 419.9 170 480 264 480h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264c-57.9 0-108.2-32.4-133.9-80H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H112.2c-.1-2.6-.2-5.3-.2-8V248c0-2.7 .1-5.4 .2-8H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H130.1c25.7-47.6 76-80 133.9-80h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264C170 32 89.9 92.1 60.3 176H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H48.1z"/></svg>
                <span><strong class="font-semibold text-gray-900">Faire Preise.</strong> Transparenz und Fairness sind uns wichtig. Wir bieten Ihnen faire und nachvollziehbare Preise, ohne versteckte Kosten. Ihr Budget und Ihre Zufriedenheit stehen bei uns im Mittelpunkt.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M72 88a56 56 0 1 1 112 0A56 56 0 1 1 72 88zM64 245.7C54 256.9 48 271.8 48 288s6 31.1 16 42.3V245.7zm144.4-49.3C178.7 222.7 160 261.2 160 304c0 34.3 12 65.8 32 90.5V416c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V389.2C26.2 371.2 0 332.7 0 288c0-61.9 50.1-112 112-112h32c24 0 46.2 7.5 64.4 20.3zM448 416V394.5c20-24.7 32-56.2 32-90.5c0-42.8-18.7-81.3-48.4-107.7C449.8 183.5 472 176 496 176h32c61.9 0 112 50.1 112 112c0 44.7-26.2 83.2-64 101.2V416c0 17.7-14.3 32-32 32H480c-17.7 0-32-14.3-32-32zm8-328a56 56 0 1 1 112 0A56 56 0 1 1 456 88zM576 245.7v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM320 32a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM240 304c0 16.2 6 31 16 42.3V261.7c-10 11.3-16 26.1-16 42.3zm144-42.3v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM448 304c0 44.7-26.2 83.2-64 101.2V448c0 17.7-14.3 32-32 32H288c-17.7 0-32-14.3-32-32V405.2c-37.8-18-64-56.5-64-101.2c0-61.9 50.1-112 112-112h32c61.9 0 112 50.1 112 112z"/></svg>
                <span><strong class="font-semibold text-gray-900">Tolle Typen.</strong> Unser Team besteht aus qualifizierten Fachkräften, die mit Leidenschaft und Präzision arbeiten. Bei Revinova GmbH können Sie sich darauf verlassen, dass Sie in guten Händen sind.</span>
              </li>
            </ul>
            <p class="mt-8">Wir legen großen Wert auf Ihre Zufriedenheit und setzen auf bewährte Methoden. Unsere Bau- und Renovierungsprojekte werden mit höchster Sorgfalt und Präzision durchgeführt, um Ihre Wohnträume zu verwirklichen. Unsere Expertise ermöglicht es uns, Ihre individuellen Anforderungen zu erfüllen und Ihnen ein Zuhause zu schaffen, das Ihren Bedürfnissen entspricht</p>
            <h2 class="mt-8 text-2xl font-bold tracking-tight text-gray-900">Revinova GmbH – Ihr Partner für erfolgreiche Projekte.</h2>
            <p class="mt-6">Kontaktieren Sie uns, und lassen Sie uns gemeinsam Ihre Vision verwirklichen. Wir freuen uns auf Ihre Anfrage!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  