---
import headerBild from "../images/header.jpg";
---

<header>
    <h1>Revinova GmbH</h1>
</header>
<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: url(/src/images/header.jpg);
        background-size: cover;
        min-height: 100svh;
    }
</style>