---
import {Image} from "astro:assets";
import Ct1Logo from "../images/ct-1.webp";
---

<div class="relative isolate overflow-hidden lg:overflow-visible lg:px-0 mb-24">
  <div class="anchor block relative invisible -top-36" id="wir-ueber-uns" ></div>
    <!-- <div class="absolute inset-0 -z-10 overflow-hidden">
    </div> -->
    <div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-4 lg:mx-0 lg:max-w-none lg:grid-rows-1 lg:items-center">
      <div class="lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:gap-x-8">
        <div class="lg:pr-4">
          <div>
            <h1 class="mt-2 mb-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Wir über uns</h1>
          </div>
          <div class="lg:col-span-2 lg:row-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:grid-cols-2 lg:gap-x-8">
            <div class="lg:pr-4">
              <div class="text-base leading-7 text-gray-900">
                <p>Wir, Benjamin Rechenbach und Lukas Vincenz, zwei Handwerker, haben unseren Traum wahr gemacht haben. Als Schreiner und Elektriker haben wir 2023 in Mülheim an der Ruhr gemeinsam die Revinova GmbH gegründet. Renovieren, sanieren, bauen, gestalten, beraten, etwas Neues schaffen, etwas Altem neues Leben einhauchen – das ist unsere Passion, unsere Leidenschaft. </p>
              </div>
            </div>
            <div class="lg:pr-4">
              <div class="text-base leading-7 text-gray-900">
                <p>Mit einem tollen und jungen Team sind wir bestens aufgestellt, auch Ihre Ideen, Wünsche rund um Haus, Wohnung, Terrasse und Garten gemeinsam mit Ihnen zu planen und umzusetzen.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="-ml-12 -mt-12 px-12 pt-8 lg:sticky lg:top-24 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <Image src={Ct1Logo} class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl sm:w-[57rem]" alt="Werkzeug liegt auf einer Werkbank mit Holz" />
      </div> -->
      
    </div>
  </div>
  
  