<div class="mt-32 md:mt-48 mb-auto">
    <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight md:text-4xl xl:text-5xl">
        Diese Seite befindet sich noch im Aufbau
    </h1>
    
    <p class="max-w-3xl">Wir arbeiten derzeit daran, diese Seite für Sie zu gestalten. Schauen Sie gerne später wieder vorbei – wir freuen uns darauf, Ihnen bald mehr Informationen präsentieren zu können!</p>
</div>